
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #2C3E50 0%, #4CA1AF 100%);
  background-color: aliceblue;
  padding: 0;
  margin: 0;
  justify-content: center;
  
}



@media (max-width: 768px) {
  .app-container {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .app-container {
    padding: 10px;
  }
}

/* .app-container:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
} */
